private/ 
private/ 
*.tmp 
node_modules/ 
obj/ 
debug/
packages/
node_modules/
*.dll 
*.exe 
.vs/
*.pdb 
/.idea/202305-brillio-react.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/modules.xml
/.idea/vcs.xml
/.idea/202305-brillio-react.iml
/.idea/modules.xml
/.idea/vcs.xml
