.header{
    color:white;
    background:black;
    height:70px;
    padding:10px;
    box-shadow: 0px 5px 2px gray;
    margin-bottom: 20px;
    
}

.game{
    border:2px solid orange;
   
    
}

.left{
    display:flex;
    flex-direction:column;
    align-items:center;    
    float:left;
    width:240px;
    padding-right:10px;
    border-right:2px solid gray;
}

.right{
    margin-left:20px;    
    float:left;
    min-width:200px;
    max-width:50%;
   
}

.right table{
    width:100%;
    border:1px solid gray;
}

.right td{
    border:1px solid gray;
}

.right th{
    background:black;
    color:white;
    font-weight: bold;
}

.status{
    
}

.resetButton{
    background:lightgreen;
    padding:5px;
    width:50%
}

.board{
    
    width:240px;
    margin:10px;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.cell{
    
    width:80px;
    height:80px;
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size:3em;
    font-weight: bold;
    border:0px;
    
}

.b_left{
    border-left:1px solid black;
}
.b_top{
    border-top:1px solid black;
}

.b_right{
    border-right:1px solid black;
}

b._bottom{
    border-bottom: 1px solid black;
}

.scoreboard{
    background:black;
    width:300px;
    color:white;
    border-radius: 25px;
    padding:10px;
    box-shadow: -4px -4px 4px gray;
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard table{
    width:100%;
    text-align:center;    
}

.scoreboard th{
    background:white;
    color:black;
}
.scoreboard td{
    background:lightyellow;
    color:black;
}

.stopwatch{
    background:black;
    color:White;
    width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    margin:5px;
    box-shadow: -2px -2px 2px gray;
    border-radius: 5px;
}

.seconds{
    font-size:1.5em;
    font-weight: bold;
    margin-right: 5px;
}

.controls{
    width:80%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.controls button{
    width: 50px;
    background-color:white;
}

.row{
    display: flex;
    
}